@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="mt-24">
    <img src="/bg.png" fill placeholder="blur" class="object-cover object-top w-full h-full absolute inset-0"
        alt="Mountains and forests with two cabins" />

    <div class="relative z-10 text-center">
        <h1 class="text-8xl text-primary-50 mb-10 tracking-tight font-normal">
            Welcome to paradise.
        </h1>
        <a asp-page="/Cabins" asp-area=""
            class="bg-accent-500 px-8 py-6 text-primary-800 text-lg font-semibold hover:bg-accent-600 transition-all">
            Explore luxury cabins
        </a>
    </div>
</div>